.header {
  padding: 18px;
  color: #fff;
  height: 80px;
  background-color: #63acee;
  display: grid;
}

.title{
  font-family: 'Poltawski Nowy', serif;
  font-style: italic;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.nav_menu_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav_menu_link  {
  padding: 6px 12px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #eee;
  font-weight: 500;      
}

.nav_menu_link:hover {
  color: #434343;
}

