html,
body {
  margin: 0;
  
  font-family: 'Poppins', sans-serif;
}
.title{
  font-family: 'Poltawski Nowy', serif;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #434343;
}

.title a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

.header,
.main,
.footer {
  padding: 18px;
}

.header,
.footer {
  color: #fff;
}

.header {
  height: 80px;
  background-color: #63acee;
  display: grid;
  /* grid-template-columns: 100%;
  grid-template-rows: 50px 20px; */
}

.nav_menu_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

@media screen and (min-width: 992px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .nav_menu_wrapper {
    
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.nav_menu_link  {
  padding: 6px 12px;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #eee;
  font-weight: 500;      
}

.nav_menu_link:hover {
  color: #434343;
}


.main {
  min-height: calc(100vh - 218px);
  display: grid;
  gap: 18px;
  background-color: #fff;
  align-items: start;
}

.card {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 170px;
  padding: 18px;
  display: grid;
  grid-template-columns: 118px 1fr;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}


.card_body_text_title {
  font-size: 22px;
  font-weight: 500;
  color: #3e3e3e;
  text-shadow: rgba(0, 0)
}
@media screen and (min-width: 992px) {
  .main {
    grid-template-columns: repeat(2, 1fr);
    padding: 18px 48px;
    
  }
  .card {
    max-width: 100%;
    height: 130px;
  }

  .card_body_text_title {
    font-size: 28px;
    
  }
}

.card_body_text_title {
  
}

.card_body_text span {
  color: #63acee;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 4px;
}

.footer {
  height: 30px;
  background-color: #303030;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 14px;
}


.post_title {
  height: 180px;
  background-color: #66eb9d6c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 18px;
  color: #303030;
}

.post_title h2 {
  font-size: 24px;
}
.post_title p {
  font-style: italic;
  
}

.post_content p {
  color: #303030;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: justify;

}

.post_content p span {
  float: left;
  line-height: 85%;
  width: .75em;
  font-size: 300%;
}

.post_content {
  padding: 18px;
}

@media screen and (min-width: 992px) {
  .post_title,
  .post_content {
    padding: 18px 192px;
  }

  .post_title {  
    height: 250px;
  }

  .post_title h2 {
    font-size: 36px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author_wrapper {
  /* width: 100%; */
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 6px;
}

hr {
  width: 85%;
  margin: 30px;
}

